@tailwind base;
@tailwind components;
@tailwind utilities;


.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@keyframes fill-progress {
  to {
      stroke-dashoffset: 0;
  }
}
.fancy-input:focus ~ .input-text {
  @apply text-purple-600 transform bg-transparent -translate-y-7;
}


.keyword{
  @apply text-[#ff7b72];
}

.number{
  @apply text-[#6db5ca];
}